.pl {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pl-texts {
  width: 65%;
}

.pl-title {
  font-size: 50px;
  font-weight: 600;
  font-size: 4rem;
}

.pl-desc {
  margin: 20px 0px;
  font-size: 1.5rem;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 8px;
}

/* Portrait and Landscape */
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
  .pl {
    padding: 10px;
  }
  .pl-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .pl-texts {
    width: 100%;
  }

  .pl-desc {
    display: none;
  }
}