.a{
    height: 100vh;
    display: flex;
    align-items: center;
    /* font-family: serif; */

}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right {
    flex: 1;
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #451EA2;
}

.a-card{
  text-align: center;
    width: 80%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-title {
    text-align: center;
    padding: 20px;
    font-weight: 600;
    font-size: 4rem;

}

.a-sub{
  margin: 20px 0px;
  height: 200px;
  position: relative;
}

.a-desc{
    font-weight: 300;
    padding: 20px;
    font-size: 1.5rem;
    line-height: 1.6;
}

.resume-button{
 margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
{
    .a{
      flex-direction: column;
      text-align: center;
      height: 850px;
    }

    .a-left {
      display: none;
    }

    .a-card {
      display: none;
    }
    .a-title {
    text-align: center;

    font-size: 2rem;
}

    .a-right{
      align-items: center;
      justify-content: center;

      padding-right: 10px;
      padding-left: 5px;
    }
   
}