

.main {
   display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.i {
  display: flex;
  height: auto;
}

.i-left-wrapper
{
  height: 100%;
  width: auto;
  padding: 60px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.i-left {
  justify-content: center;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
  // align-items: center;
  // justify-content: center;
}

.i-title {
  height: 50px;
  top: 50%;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;

}
.i-desc {
font-size: 1.25rem;
line-height: 1.25;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}


.i-title-item {
  height: 49px;
  font-size: 30px;
  font-weight: bold;
  color: #8763E3;
  display: flex;
  align-items: center;
}

.i-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}



@keyframes move {
  33% {
    transform: translateY(-50px);
  }
  66% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-150px);
  }

}



/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .i {
    flex-direction: column;
  }
  .i-title-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .i-right{
      justify-content: center;
  }
  .i-right-container{
      width: auto;
      height: auto;
  }
  .i-img{
      padding: 0;
      max-width: 200px;
  }

  .i-desc{
    display: none;
  }
  .i-scroll {
    display: none;
  }

}